In [2]:
import pandas as pd

a = pd.read_csv('sample_final.csv')
a.head()

,customerid,review_id,flight_id,names,gender,customer_type,age,type_of_travel,class,flight_distance,...,onboard_service,legroom_service,baggage_handling,checkin_service,cleanliness,online_boarding,dept_delay_min,arrival_delay_min,timestamp,destination
0,331-18-2844,88976,S2844,Loy Waelchi,F,Loyal Customer,31,Business travel,Business,3583,...,5,2,3,2,2,2,0,10,25/4/2021 13:26,Shanghai
1,264-61-9134,18213,S9134,Venice Konopelski,F,Loyal Customer,60,Business travel,Eco,2167,...,2,2,2,4,2,3,40,16,21/4/2021 7:33,Shanghai
2,637-49-6833,4312,S6833,Dori Yundt,M,Loyal Customer,39,Personal Travel,Eco Plus,1408,...,4,2,5,5,4,2,0,0,25/4/2021 7:39,Shanghai
3,191-03-7238,33150,S7238,Cesar Hansen,M,Loyal Customer,66,Personal Travel,Eco,623,...,5,5,5,4,5,4,0,0,22/4/2021 3:17,Shanghai
4,452-05-6438,61568,S6438,Eulalia Mosciski,M,Loyal Customer,28,Personal Travel,Eco Plus,1444,...,3,3,3,2,4,3,0,37,13/4/2021 13:39,Shanghai

In [6]:
a.columns

Index(['customerid', 'review_id', 'flight_id', 'names', 'gender',
       'customer_type', 'age', 'type_of_travel', 'class', 'flight_distance',
       'seat_comfort', 'deptarrive_time_convenient', 'food_drink',
       'gate_location', 'inflight_wifi', 'inflight_entertainment',
       'online_support', 'ease_online_booking', 'onboard_service',
       'legroom_service', 'baggage_handling', 'checkin_service', 'cleanliness',
       'online_boarding', 'dept_delay_min', 'arrival_delay_min', 'timestamp',
       'destination'],
      dtype='object')